{% extends 'account/base.html' %}
{% load widget_tweaks %}

{% block title %}
ورود
{% endblock %}

{% block content %}

<div class="animate form login_form">
<section class="login_content">

<form method="post">
     {% csrf_token %}
    <h1>وارد شوید</h1>
    
    {% if form.errors %}
        <ul style="list-style-type: none;">
            <li class="text text-danger" style="none" onclick="this.parentElement.style.display='none';">نام کاربری یا رمز عبور اشتباه است</li>
        </ul>
    {% endif %}
    {%if error%}
        <div class="alert alert-danger" role="alert">
            {{error}}
        </div>
    {%endif%}
    <div>
        {% render_field form.username_or_email type="text" class+="text-right form-control" placeholder="نام کاربری" %}        
    </div>
    <div>
        {% render_field form.password type="password" class+="text-right form-control" placeholder="رمز عبور" %}        
    </div>
    <div>
        <a class="reset_pass text-right" href="{% url 'password_reset' %}">بازیابی رمز عبور</a>
        <button class="btn btn-default submit" type="submit" href="{% url 'home:home' %}">ورود</button>
    </div>
    
    <div class="clearfix"></div>
    
    <div class="separator">
      <p class="change_link  text-right">
          <a href="{% url 'register' %}" class="to_register">ایجاد حساب کاربری</a>
        </p>
        <div class="clearfix"></div>
        <br /> 
        <div>
            <h1><i class="fa fa-paw"></i> Rasor</h1>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sint, harum!</p>
        </div>
    </div>
</form>
</section>
</div>
{% endblock %}
