{% extends 'account/base.html' %}
{% load widget_tweaks %}

{% block title %}
ورود
{% endblock %}

{% block content %}
    
    <!-- Form Panel    -->
    <div class="col-lg-6 bg-white">
        <div class="form d-flex align-items-center">
        <div class="content">
            
            <form id="login-form" method="post">
            {% csrf_token %}

            {% if form.errors %}
                <ul style="list-style-type: none;">
                    <li class="{{ message.tags }}" style="none" onclick="this.parentElement.style.display='none';">
                    <p class="p-3 mb-2 bg-secondary text-white">نام کاربری یا رمز عبور اشتباه است</p>
                    </li>
                </ul>
            {% endif %}
            
            <br>
            <div class="form-group">
                {% render_field form.username type="text" class+="input-material"%}
                <label for="login-username" class="label-material">نام کاربری</label>
            </div>
            <div class="form-group">
                {% render_field form.password type="password" class+="input-material"%}
                <label for="login-password" class="label-material">رمز عبور</label>
            </div>
            <p><input type="submit" value="ورود" class="btn btn-primary"></p>
            
            <!-- This should be submit button but I replaced it with <a> for demo purposes-->
            </form>
            <a href="{% url 'password_reset' %}" class="forgot-pass">رمز عبور خود را فراموش کرده‌اید؟</a>
            <br>
            <a href="register.html" class="signup">ایجاد حساب کاربری</a>

        </div>
        </div>
    </div>
    
<script>
    
</script>
{% endblock %}