{% extends 'account/base.html' %}
{% load widget_tweaks %}

{% block title %}
تغییر رمز عبور
{% endblock %}

{% block content %}
    
    <!-- Form Panel    -->
    <div class="col-lg-6 bg-white">
        <div class="form d-flex align-items-center">
        <div class="content">
            
            <h1>رمز عبور تغییر کرد</h1>
            <p><a href="{% url "login" %}">ورور به حساب کاربری
            </a></p>            
            
        </div>
        </div>
    </div>
    
{% endblock %}





