{% extends 'account/base.html' %}
{% load widget_tweaks %}

{% block title %}
تغییر رمز عبور
{% endblock %}

{% block content %}
    
    <!-- Form Panel    -->
    <div class="col-lg-6 bg-white">
        <div class="form d-flex align-items-center">
        <div class="content">
            
            {% if validlink %}
            <p>رمزعبور جدید خود را وارد کنید</p>
            <form id="login-form" method="post">
            {% csrf_token %}
            {% if form.errors %}
                <ul style="list-style-type: none;">
                    <li class="{{ message.tags }}" style="none" onclick="this.parentElement.style.display='none';">
                        <p class="p-3 mb-2 bg-secondary text-white">رمزعبور جدید معتبر نیست</p>
                    </li>
                </ul>
            {% endif %}
            <br>
            <div class="form-group">
                {% render_field form.new_password1 type="password" class+="input-material" %}
                <label class="label-material">رمزعبور جدید</label> 
            </div>
            <div class="form-group">
                {% render_field form.new_password2 type="password" class+="input-material" %}
                <label class="label-material">تکرار رمزعبور جدید</label> 
            </div>
            <p><input type="submit" value="تغییر رمز عبور" class="btn btn-primary"></p>
            </form>
            {% else %}
            <p>لینک تغییر رمزعبور نامعتبر است</p>
            {% endif %}            

        </div>
        </div>
    </div>
    
{% endblock %}
