{% extends 'account/base.html' %}
{% load widget_tweaks %}

{% block title %}
تغییر رمز عبور
{% endblock %}


{% block content %}
<div class="animate form login_form">
<section class="login_content">

<form method="post">
     {% csrf_token %}
    <h1>تغییر رمز عبور</h1>
    {% if form.errors %}
      <ul style="list-style-type: none;">
          <li class="{{ message.tags }}" style="none" onclick="this.parentElement.style.display='none';">
          <p class="p-3 mb-2 bg-secondary text-white">ایمیل وارد شده صحیح نمی باشد</p>
          </li>
      </ul>
    {% endif %}
    <div>    
        {% render_field form.email type="email" class+="text-right form-control" placeholder="ایمیل" %}        
    </div>
    <div>
        <button class="btn btn-default submit" type="submit" href="{% url 'home:home' %}">ارسال ایمیل</button>
    </div>
    <div class="clearfix"></div>
</form>
</section>
</div>
{% endblock %}
