{% extends 'account/base.html' %}
{% load widget_tweaks %}

{% block title %}
تغییر رمز عبور
{% endblock %}

{% block content %}
    
    <!-- Form Panel    -->
    <div class="col-lg-6 bg-white">
        <div class="form d-flex align-items-center">
        <div class="content">
            
            <form id="login-form" method="post">
            {% csrf_token %}

            {% if form.errors %}
                <ul style="list-style-type: none;">
                    <li class="{{ message.tags }}" style="none" onclick="this.parentElement.style.display='none';">
                    <p class="p-3 mb-2 bg-secondary text-white">ایمیل وارد شده صحیح نمی باشد</p>
                    </li>
                </ul>
            {% endif %}
            <br>
            <div class="form-group">
                {% render_field form.email type="email" class+="input-material"%}
                <label for="login-username" class="label-material">ایمیل</label>
            </div>
            <p><input type="submit" value="ورود" class="btn btn-primary"></p>
            </form>
            
        </div>
        </div>
    </div>
    
{% endblock %}