{% extends 'account/base.html' %}
{% load widget_tweaks %}

{% block title %}
ثبت نام
{% endblock %}


{% block content %}

<div class="animate form login_form">
    <section class="login_content">
    
    <form method="post">
         {% csrf_token %}
        <h1>ثبت نام</h1>
        {% if form.errors %}
        <ul style="list-style-type: none;">
            {% for field in form %}
                {% for error in field.errors %}
                    <li class="text text-danger" style="none" onclick="this.parentElement.style.display='none';"> {{ error }}</li>
                {% endfor %}
            {% endfor %}
        </ul>
        {% endif %}   

        {%if error%}
            <div class="alert alert-danger" role="alert">
                {{error}}
            </div>
        {%endif%}
        {% comment %} fields  {% endcomment %}
           <div>
            {{ form.username }}
        </div>
        {% comment %} <div>
            {{ form.first_name }}
        </div>
        <div>
            {{ form.last_name }}
        </div> {% endcomment %}
           <div>
           {{ form.email }}
        </div>
        <div>
            {{ form.password1 }}
        </div>
        <div>
            {{ form.password2 }}
        </div> 
        {% comment %} end fields {% endcomment %}
        <div>   
            <button class="btn btn-default submit" type="submit">تایید</button>
        </div>
        <div class="clearfix"></div>
        <div class="separator">
          <p class="change_link  text-right"> قبلا ثبت نام کرده اید!
              <a href="{% url 'register' %}" class="to_register">ورود به حساب کاربری</a>
            </p>
            <div class="clearfix"></div>
            <br /> 
            <div>
                <h1><i class="fa fa-paw"></i> Rasor</h1>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sint, harum!</p>
            </div>
        </div>
    </form>
    </section>
    </div>
{% endblock %}