{% extends 'home/base.html' %}
{% load static %}
{% load custom_tags %}
{% block title %}
{{title}}
{% endblock %}

{% block content %}

<section class="engine"><a rel="external" href="https://mobirise.com">Site Builder</a></section><section class="mbr-slider mbr-section mbr-section__container carousel slide mbr-section-nopadding mbr-after-navbar" data-ride="carousel" data-keyboard="false" data-wrap="true" data-pause="false" data-interval="10000" id="slider-h">
    <div>
        <div>
            <div>
                <ol class="carousel-indicators">
                    <li data-app-prevent-settings="" data-target="#slider-h" class="active" data-slide-to="0"></li><li data-app-prevent-settings="" data-target="#slider-h" data-slide-to="1"></li><li data-app-prevent-settings="" data-target="#slider-h" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner" role="listbox">
                    {% comment %} list box {% endcomment %}
                    {% for item in list_items %}
                    {% comment %} active html class cause display list box {% endcomment %}
                    <div class="mbr-section mbr-section-hero carousel-item dark center mbr-section-full {% if forloop.first %}active{% endif %}" data-bg-video-slide="false" style="background-image: url({{ item.image.url }});">
                        <div class="mbr-table-cell">
                            <div class="mbr-overlay"></div>
                            <div class="container-slide container">

                                <div class="row">
                                    <div class="col-md-8 col-md-offset-3 text-xs-right">
                                        <h2 class="mbr-section-title display-1">{{ item.title|markdown }}</h2>
                                        <p class="mbr-section-lead lead">{{ item.body|truncatewords_html:40 }}</p>
                                        <div class="mbr-section-btn">
                                        {% if request.user.is_authenticated %}
                                        <a class="btn btn-lg btn-info" href="{% url 'logout' %}">خروچ از حساب</a> 
                                        <a class="btn btn-lg btn-white btn-white-outline" href="{% url 'dashboard:dashboard' %}">داشبورد</a></div>
                                        {% else %}
                                            <a class="font-iransans btn btn-lg btn-info" href="{% url 'register' %}">ثبت نام</a> 
                                            <a class="font-iransans btn btn-lg btn-white btn-white-outline" href="{% url 'login' %}">ورود</a></div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    {% comment %} end list {% endcomment %}
                     
                </div>

                <a data-app-prevent-settings="" class="left carousel-control" role="button" data-slide="prev" href="#slider-h">
                    <span class="icon-prev" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a data-app-prevent-settings="" class="right carousel-control" role="button" data-slide="next" href="#slider-h">
                    <span class="icon-next" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>
</section>


<section class="mbr-section mbr-section__container article" id="header3-i" style="background-color: rgb(255, 255, 255); padding-top: 20px; padding-bottom: 20px;">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h3 class="mbr-section-title display-2">{{ page_content_1.title}}</h3>
                <small class="mbr-section-subtitle">نویسنده: {{ page_content_1.author.first_name}} {{ page_content_1.author.last_name }}</small>
            </div>
        </div>
    </div>
</section>

<section class="mbr-section article mbr-section__container" id="content2-j" style="background-color: rgb(255, 255, 255); padding-top: 20px; padding-bottom: 20px;">

    <div class="container">
        <div class="row">
            <div class="col-xs-12 lead"><p>{{ page_content_1.content }}</strong></p><p></p><div style="text-align: right;"></div><p></p></div>
        </div>
    </div>

</section>

<hr />

{% comment %} products {% endcomment %}
<section class="mbr-cards mbr-section mbr-section-nopadding" id="features3-m" style="background-color: rgb(255, 255, 255);">
{% for item in products %}
{% if forloop.counter0|divisibleby:3 %}
<div class="mbr-cards-row row">
{%endif%}
        <div class="mbr-cards-col col-xs-12 col-lg-4" style="padding-top: 0px; padding-bottom: 40px;">
            <div class="container">
              <div class="card cart-block">
                  <div class="card-img"><img src="{{ item.image.url}}" class="card-img-top"></div>
                  <div class="card-block">
                    <h4 class="card-title">{{item.title|markdown}}</h4>
                    {% comment %} <h5 class="card-subtitle"></h5> {% endcomment %}
                    <p class="card-text">{{ item.content|markdown|truncatewords_html:30 }}</p>
                    <div class="card-btn"><a href="{{ item.get_absolute_url }}" class="btn btn-primary">بیشتر</a></div>
                    </div>
                </div>
            </div>
        </div>
{% if forloop.counter|divisibleby:3 or forloop.last %}            
</div>
{%endif%}
{%endfor%}
</section>

<section class="mbr-section mbr-parallax-background" id="content5-n" style="background-image: url({% static 'home/images/mbr-1-2000x1334.jpg' %}); padding-top: 120px; padding-bottom: 160px;">

    <div class="mbr-overlay" style="opacity: 0.5; background-color: rgb(0, 0, 0);">
    </div>

    <div class="container">
        <h3 class="mbr-section-title display-2">{{ page_content_2.title}}</h3>
        <div class="lead"><p><span style="font-size: 1.07rem; line-height: 1.5;">{{ page_content_2.content}}</p></div>
    </div>

</section>

<br>
<hr>
{% comment %} news {% endcomment %}

<section class="mbr-cards mbr-section mbr-section-nopadding" id="features3-m" style="background-color: rgb(255, 255, 255);">
{% for item in news %}
{% if forloop.counter0|divisibleby:3 %}
<div class="mbr-cards-row row">
{%endif%}
            <div class="mbr-cards-col col-xs-12 col-lg-4" style="padding-top: 0px; padding-bottom: 40px;">
                <div class="container">
                  <div class="card cart-block">
                      <div class="card-img"><img src="{{ item.image.url}}" class="card-img-top"></div>
                      <div class="card-block">
                        <h4 class="card-title">{{item.title|markdown}}</h4>
                        {% comment %} <h5 class="card-subtitle"></h5> {% endcomment %}
                        <p class="card-text">{{ item.content|markdown|truncatewords_html:30 }}</p>
                        <div class="card-btn"><a href="{{ item.get_absolute_url }}" class="btn btn-primary">بیشتر</a></div>
                        </div>
                    </div>
                </div>
            </div>
{% if forloop.counter|divisibleby:3 or forloop.last %}            
</div>
{%endif%}
{%endfor%}
</section>
    

{% endblock %}
