<div class="mbr-section mbr-section-hero carousel-item dark center mbr-section-full active" data-bg-video-slide="false" style="background-image: url({% static 'home/images/2-2000x1500.jpg' %});">
    <div class="mbr-table-cell">
        <div class="mbr-overlay"></div>
        <div class="container-slide container">

            <div class="row">
                <div class="col-md-8 col-md-offset-3 text-xs-right">
                    <h2 class="mbr-section-title display-1">کلاس های ابتدایی</h2>
                    <p class="mbr-section-lead lead">با وجود نواقص بی شمار کلاس های رسمی آموزش و پرورش مخصوصا در حوضه ی خلاقیت، در این بخش سعی بر آن شده است که علاوه بر ارائه ی سر فصل های دروس، دانش آموزان را ترغیب به خلاقیت نماییم تا آمادگی بهتری برای زندگی پیش روی خود داشته باشند.</p>
                    <div class="mbr-section-btn"><a class="btn btn-lg btn-info" href="https://mobirise.com">ثبت نام اساتید</a> <a class="btn btn-lg btn-white btn-white-outline" href="https://mobirise.com">ورود اساتید</a></div>
                </div>
            </div>
        </div>
    </div>
</div>