<div class="mbr-section mbr-section-hero carousel-item dark center mbr-section-full" data-bg-video-slide="false" style="background-image: url({% static 'home/images/bak0064-2000x1338.jpg' %});">
    <div class="mbr-table-cell">
        <div class="mbr-overlay"></div>
        <div class="container-slide container">

            <div class="row">
                <div class="col-md-8 col-md-offset-1">
                    <h2 class="mbr-section-title display-1">کلاس های دبیرستانی</h2>
                    <p class="mbr-section-lead lead">از دانش، تجارب و اندیشه های اساتید مجرب در رشته های مورد علاقه ی خود در هر ساعت از شبانه روز &nbsp;بهرهمند شویم. علم بی حد و مرز است، حتی اگر امکانات تحصیلات رسمی و دانشگاهی برایمان فراهم نباشد.</p>

                    <div class="mbr-section-btn"><a class="btn btn-lg btn-primary" href="https://mobirise.com">ثبت نام دانشجویان</a> <a class="btn btn-lg btn-white btn-white-outline" href="https://mobirise.com">ورود دانشجویان</a></div>
                </div>
            </div>
        </div>
    </div>
</div>