[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-debug-toolbar = "*"
pillow = "*"
django-taggit = "*"
markdown = "*"
django-widget-tweaks = "*"
django-ckeditor = "*"
django-bootstrap-v5 = "*"
django-cleanup = "*"
django-admin-persian-fonts = "*"
django-shopping-cart = "*"

[dev-packages]

[requires]
python_version = "3.11"
