{% load static %}
<script type="text/javascript" src="{% static 'home/web/assets/jquery/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'home/tether/tether.min.js' %}"></script>
<script type="text/javascript" src="{% static 'home/bootstrap/js/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'home/smooth-scroll/smooth-scroll.js' %}"></script>
<script type="text/javascript" src="{% static 'home/bootstrap-carousel-swipe/bootstrap-carousel-swipe.js' %}"></script>
<script type="text/javascript" src="{% static 'home/viewport-checker/jquery.viewportchecker.js' %}"></script>
<script type="text/javascript" src="{% static 'home/dropdown/js/script.min.js' %}"></script>
<script type="text/javascript" src="{% static 'home/touch-swipe/jquery.touch-swipe.min.js' %}"></script>
<script type="text/javascript" src="{% static 'home/jarallax/jarallax.js' %}"></script>
<script type="text/javascript" src="{% static 'home/social-likes/social-likes.js' %}"></script>
<script type="text/javascript" src="{% static 'home/theme/js/script.js' %}"></script>




