{% load static %}
<section id="menu-k">

    <nav class="navbar navbar-dropdown bg-color transparent navbar-fixed-top">
        <div class="container">

            <div class="mbr-table">
                <div class="mbr-table-cell">

                    <div class="navbar-brand">
                        <a href="{% url 'home:home' %}" class="navbar-logo"><img src="{% static 'home/images/mbr-193x128.jpg' %}" alt="Mobirise"></a>
                        <a class="navbar-caption text-info" href="{% url 'home:home' %}">پل علم</a>
                    </div>

                </div>
                <div class="mbr-table-cell">

                    <button class="navbar-toggler pull-xs-right hidden-md-up" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar">
                        <div class="hamburger-icon"></div>
                    </button>

                    <ul class="nav-dropdown collapse pull-xs-right nav navbar-nav navbar-toggleable-sm" id="exCollapsingNavbar">
                        <li class="nav-item dropdown"><a class="nav-link link dropdown-toggle" href="https://mobirise.com/" aria-expanded="false" data-toggle="dropdown-submenu">یک معلم شوید</a><div class="dropdown-menu"><a class="dropdown-item" href="#">New Item</a></div></li>
                        <li class="nav-item dropdown"><a class="nav-link link dropdown-toggle" href="https://mobirise.com/" aria-expanded="false" data-toggle="dropdown-submenu">آکادمیک</a><div class="dropdown-menu"><a class="dropdown-item" href="#">New Item</a></div></li>
                        <li class="nav-item dropdown"><a class="nav-link link dropdown-toggle" href="https://mobirise.com/" aria-expanded="false" data-toggle="dropdown-submenu">مشاغل</a><div class="dropdown-menu"><a class="dropdown-item" href="#">New Item</a></div></li>
                        <li class="nav-item dropdown"><a class="nav-link link dropdown-toggle" href="https://mobirise.com/" aria-expanded="false" data-toggle="dropdown-submenu">تجارب</a><div class="dropdown-menu"><a class="dropdown-item" href="#">New Item</a></div></li>
                        {% if request.user.is_authenticated%}
                          <li class="nav-item nav-btn"><a class="nav-link btn btn-secondary-outline btn-secondary" href="{% url 'logout' %}">خروج</a></li></ul>
                        {% else %}
                            <li class="nav-item nav-btn"><a class="nav-link btn btn-secondary-outline btn-secondary" href="{% url 'login' %}">ورود</a></li></ul>
                        {% endif %}
                    <button hidden="" class="navbar-toggler navbar-close" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar">
                        <div class="close-icon"></div>
                    </button>

                </div>
            </div>

        </div>
    </nav>

</section>
