{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
    {% include 'dashboard/shared/head_ref.html' %}
    
    <title>{% block title %}{% endblock %}</title>
  </head>

<body class="nav-md text-right">
  <div class="container body">
  <div class="main_container">
  {% comment %} sidebar {% endcomment %}
  {% include 'dashboard/shared/sidebar.html' %}

  {% comment %} navigation bar {% endcomment %}
  {% include 'dashboard/shared/navigation.html' %}


<!-- page content -->
<div class="right_col text-right" role="main">
  <div class="">
    <div class="page-title">
      <div class="title_right">
        <h3>{% block page_title %}{% endblock %}</h3>
      </div>
      
      {% include 'dashboard/shared/search.html' %}

    <div class="clearfix"></div>

    <div class="row">
      <div class="col-md-12">
        <div class="x_panel">
          
          <div class="x_content">
            {% comment %} content {% endcomment %}
              {% block content %}

              {% endblock %}
            
            <div class="container">
                <h1>hello</h1>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
  <!-- /page content -->

  {% comment %} footer {% endcomment %}
  {% include 'dashboard/shared/footer.html' %}


  {% include 'dashboard/shared/foot_ref.html' %}

</body>
</html>