{% extends 'dashboard/base.html' %}

{% block title %}
سبد خرید
{% endblock %}


{% block content %}
<div class="x_content">

    <div class="bs-example" data-example-id="simple-jumbotron">
      {% for key, val in request.session.cart.items %}
      <div class="jumbotron">
        <h3 class="text text-primary">{{ val.name }} :نام محصول</h3>
        <h4 class="text text-success"><span>قیمت: </span>{{ val.price }} <span>تومان</span></h4>
        
        <br>
        <a class="btn btn-danger" href="{% url 'product:item_clear' key %}">حذف از سبد خرید</a>
      </div>
      {% endfor%}
      <h4><span>مبلغ کل: </span>{{ cart_total_amount }}<h4>
        <br>
      <a class="btn btn-danger" href="{% url 'product:cart_clear' %}">پاک کردن سبد خرید</a>
      <a class="btn btn-primary" href="{% url 'product:product_list' %}">لیست محصولات</a>
      <a class="btn btn-success" href="#">پرداخت</a>
    </div>

  </div>
</div>
</div>
{% endblock %}