{% extends 'dashboard/base.html' %}

{% block title %}
سبد خرید
{% endblock %}


{% block content %}
<div class="x_content">

  <div class="bs-example" data-example-id="simple-jumbotron">
      
       {% for item in cart %}
      <div class="jumbotron">
        <h3 class="text text-primary">{{ item.name }}</h3>
        <h4 class="text text-success"><span>قیمت: </span>{{ item.price }} <span>تومان</span></h4>
        
        <br>
        <a class="btn btn-danger" href="{% url 'product:item_clear' item.product_id %}">حذف از سبد خرید</a>
      </div>
      {% endfor%}
      </div>
        <div class='container'>
        <h3><span>مبلغ کل: </span>{{ cart_total_amount }}</h3>
        </div>
          
          <br>
          <a class="btn btn-danger" href="{% url 'product:cart_clear' %}">پاک کردن سبد خرید</a>
          <a class="btn btn-primary" href="{% url 'product:product_list' %}">لیست محصولات</a>
          <a class="btn btn-success" href="{% url 'product:create_order' %}">ثبت سفارش</a>
        </div>
        
      </div>
    </div>
  </div>

{% endblock %}
