{% extends 'dashboard/base.html' %}


{% block title %}
لیست دوره ها
{% endblock %}


{% block content %}

  <!-- start project list -->
  <table class="table table-striped projects">
    <thead>
      <tr>
          <th style="width: 15%; text-align: right;">تغییرات</th>
          <th style="width: 10%; text-align: right; ">وضعیت</th>
          <th style="width: 10%; text-align: right; ">مدرس</th>
          <th style="width: 30%; text-align: right;">نام دوره</th>
          <th style="width: 5%; text-align: right;">#</th>
      </tr>
    </thead>
    <!-- course -->
    <tbody>
        {% for item in items %}
      <tr>
          <td>
            <a href="{% url 'dashboard:course_content' item.id %}" class="btn btn-primary btn-xs"><i class="fa fa-folder"></i> ویرایش </a>
            <a href="{% url 'dashboard:course_detail' item.id %}" class="btn btn-info btn-xs"><i class="fa fa-pencil"></i> جزییات </a>
            <a href="#" class="btn btn-danger btn-xs"><i class="fa fa-trash-o"></i> حذف </a>
          </td>
          <td>
            <button type="button" class="btn btn-success btn-xs">درحال برگزاری</button>
          </td>
        <td><button type="button" class="btn btn-primary btn-xs">{{item.mentor.username}}</button></td>
        {% comment %} <td><img src="{{item.image.url}}" style="width:200px"></td> {% endcomment %}
        <td>
          <h4>{{item.title}}</h4>
        </td>
        <td>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <!-- end project list -->
  
{% endblock %}