{% extends 'dashboard/base.html' %}


{% block title %}
لیست دوره ها
{% endblock %}


{% block content %}
{% for item in items %}
<div class="col-md-55">
  <div class="thumbnail">
    <div class="image view view-first">
      <img style="width: 100%; height:100%; display: block;" src="{{ item.image.url }}" alt="{{ item.title }}" />
      <div class="mask">
        <p>مدرس: {{ item.mentor.get_full_name }} </p>
        <div class="tools tools-bottom">
          <a href="{% url 'dashboard:course_detail' item.id %}"><i class="fa fa-link"> مشاهده دوره </i></a>
          
        </div>
      </div>
    </div>
    <div class="caption">
      <h4>{{ item.title }}</h4>
      
    </div>
  </div>
</div>
{% endfor %}
<div class="clearfix"></div>
  <!-- start project list -->
  <table class="table table-striped projects">
    <thead>
      <tr>
          <th style="width: 15%; text-align: right;">تغییرات</th>
          <th style="width: 10%; text-align: right; ">وضعیت</th>
          <th style="width: 10%; text-align: right; ">مدرس</th>
          <th style="width: 30%; text-align: right;">نام دوره</th>
          <th style="width: 5%; text-align: right;">#</th>
      </tr>
    </thead>
    <!-- course -->
    <tbody>
        {% for item in items %}
      <tr>
          <td>
            {% if request.user.is_mentor %}
            <a href="{% url 'dashboard:course_content' item.id %}" class="btn btn-primary btn-xs"><i class="fa fa-folder"></i> ویرایش </a>
            {% endif %}
            <a href="{% url 'dashboard:course_detail' item.id %}" class="btn btn-info btn-xs"><i class="fa fa-pencil"></i> جزییات </a>
            <a href="#" class="btn btn-danger btn-xs"><i class="fa fa-trash-o"></i> حذف </a>
          </td>
          <td>
            <button type="button" class="btn btn-success btn-xs">درحال برگزاری</button>
          </td>
          {% if request.user.get_full_name %}
            <td><button type="button" class="btn btn-primary btn-xs">{{item.mentor.get_full_name}}</button></td>
          {% else %}
            <td><button type="button" class="btn btn-primary btn-xs">{{item.mentor.username}}</button></td>
          {% endif %}
        <td>
          <h4 class="text text-primary">{{item.title}}</h4>
        </td>
        <td>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <!-- end project list -->
  
{% endblock %}