{% extends 'dashboard/base.html' %}
{% load static %}
{% block title %}
{{title}}
{% endblock %}


{% block content %}

          <div class="col-md-7 col-sm-7 col-xs-12">
            {% comment %} <div class="product-image">
              <img src="{{ course.image.url }}" alt="{{ course.title }}" />
            </div> {% endcomment %}
            <div class="product-image text-right" style="height: 400px; border: 1px solid black;">
              <img src="{{ course.image.url }}" style="width: 100%; height: 100%;">
            </div>
          </div>

          <div class="col-md-5 col-sm-5 col-xs-12" style="border:0px solid #e5e5e5;">

            <h3 class="prod_title">{{ course.title }}</h3>

            <br />
            <div class="col-md-8">
                <h2>درباره مدرس</h2>
                <div class="profile_img">
                  <div id="crop-avatar">
                    <!-- Current avatar -->
                    <img class="img-responsive avatar-view" src="{{ course.mentor.picture.url }}" alt="Avatar" title="Change the avatar">
                  </div>
                </div>
                <h3>{{ course.mentor.get_full_name }}</h3>

                <ul class="list-unstyled user_data">
                  <li>
                    <i class="fa fa-briefcase user-profile-icon"></i> Software Engineer
                  </li>

                  <li class="m-top-xs">
                    
                    <div class="product_social">
                        
                      <ul class="list-inline">
                        <li><i class="fa fa-external-link user-profile-icon"></i>
                          <a href="http://www.kimlabs.com/profile/" target="_blank">{{ course.mentor.email }}</a>
                        </li>
                      </ul>
                    </div>
                    
                  </li>
                </ul>

                <a class="btn btn-success" href="#"><i class="fa fa-link m-right-xs"></i> مشاهده پروفایل استاد </a>
                {% comment %} <a class="btn btn-primary" href="{% url 'product:cart_add' course.id %}"><i class="fa fa-inbox m-right-xs"></i> افزودن به سبد خرید</a> {% endcomment %}
                <form method="post" action="{% url 'product:cart_add' %}">
                  {% csrf_token %}
                  <input type="hidden" name="id" value="{{ course.id }}">
                  <input type="hidden" name="type" value="course">
                  {% comment %} <div class="card-btn"><a class="btn btn-primary" href="{% url 'product:cart_add' items.pk %}"><h3>افزودن به سبد خرید</h3></a></h3></div> {% endcomment %}
                  <input type="submit" value="افزودن به سبد خرید" class="btn btn-primary">
              </form>
                <br />
            </div>
            </div>
        </div>
            
                
            
            <br />

            <div class="">
              <h2>توضیحات دوره</h2>
              <p>{{ course.description }}</p>
            </div>
            <br />
            
{% if registered %}  
        <div class="" role="tabpanel" data-example-id="togglable-tabs">
          <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
            <li role="presentation" class="active"><a href="#tab_content1" id="msg-tab" role="tab" data-toggle="tab" aria-expanded="true">پیام ها</a>
            </li>
          </ul>
          <div id="myTabContent" class="tab-content">
            <div role="tabpanel" class="tab-pane fade active in" id="tab_content1" aria-labelledby="msg-tab">

              <!-- start recent activity -->
              <ul class="messages">
                {% for msg in messages %}
            <li>
              <img src="{{ msg.sender.picture.url }}" class="avatar" alt="Avatar" style="float:right;">
              <div class="message_date" style="float:left;">
                <h3 class="date text-info">{{ msg.created_at.time|time:"f"}}</h3>
                <p class="month">{{ msg.created_at.year}}/{{ msg.created_at.month}}/{{ msg.created_at.day}}</p>
              </div>
              <div class="message_wrapper">
                <h4 class="heading"> {{ msg.sender.get_full_name }} </h4>
                <br>
                <p class="message">{{ msg.content }}</p>
                <br />
                
              </div>
            </li>
            {% endfor %}

              </ul>
              <!-- end recent activity -->
            </div>    
          </div>
        </div>
{% endif %}


      </div>        
    </div>
  </div>
</div>
{% endblock %}