{% extends 'dashboard/base.html' %}


{% block title %}پروفایل{% endblock%}

{% block content %}
    

            <!-- -->

            <div class="col-md-3 col-sm-3 col-xs-12 profile_left">
                <div class="profile_img">
                    <div id="crop-avatar">
                        <!-- Current avatar -->
                        <img class="img-responsive avatar-view" src="{{ request.user.picture.url}}" alt="Avatar"
                            title="Change the avatar">
                    </div>
                </div>
                {% if request.user.first_name and request.user.last_name %}
                <h3>{{ request.user.first_name}} {{request.user.last_name}} </h3>
                {% else %}
                <h3>{{ request.user.username}}</h3>
                {% endif %}

                <ul class="list-unstyled user_data">
                    {% if request.user.address %}
                    <li><i class="fa fa-map-marker user-profile-icon"></i> {{ request.user.address }}
                    </li>
                    {% else %}
                    <li><i class="fa fa-map-marker user-profile-icon"></i> ???
                    </li>
                    {% endif %}

                    {% if request.user.job %}
                    <li>
                        <i class="fa fa-briefcase user-profile-icon"></i> {{ request.user.job }}
                    </li>
                    {% else %}
                    <li>
                        <i class="fa fa-briefcase user-profile-icon"></i> ???
                    </li>
                    {% endif %}

                    <li class="m-top-xs">
                        <i class="fa fa-external-link user-profile-icon"></i>
                        <a href="#" target="_blank">{{ request.user.email }}</a>
                    </li>
                </ul>

                <a class="btn btn-success" href="{% url 'dashboard:update_profile' %}"><i class="fa fa-edit m-right-xs"></i> ویرایش اطلاعات </a>
                <br />

            </div>
            <div class="col-md-9 col-sm-9 col-xs-12">


            <div class="profile_title">
                <div class="col-md-6">
                    <h2>User Activity Report</h2>
                </div>
                <div class="col-md-6">
                    <div id="reportrange" class="pull-right"
                        style="margin-top: 5px; background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #E6E9ED">
                        <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
                        <span>December 30, 2014 - January 28, 2015</span> <b class="caret"></b>
                    </div>
                </div>
            </div>


            <!-- start of user-activity-graph -->
            <div id="graph_bar" style="width:100%; height:280px;"></div>
            <!-- end of user-activity-graph -->

            <div class="" role="tabpanel" data-example-id="togglable-tabs">
                
                    <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
                        <li role="presentation" class="active"><a href="#tab_content1" id="home-tab" role="tab"
                                data-toggle="tab" aria-expanded="true">پیام ها</a>
                        </li>
                        <li role="presentation" class=""><a href="#tab_content2" role="tab" id="profile-tab"
                                data-toggle="tab" aria-expanded="false">Projects Worked on</a>
                        </li>
                        <li role="presentation" class=""><a href="#tab_content3" role="tab" id="profile-tab2"
                                data-toggle="tab" aria-expanded="false">Profile</a>
                        </li>
                    </ul>
                    <div id="myTabContent" class="tab-content">

                        <!-- home tab -->
                        <div role="tabpanel" class="tab-pane fade active in" id="tab_content1"
                            aria-labelledby="home-tab">

                            <!-- start recent activity -->
                            <ul class="messages">
                                {% for item in msg %}
                                <li>
                                    <img src="{{ item.sender.picture.url }}" class="avatar" alt="Avatar">
                                    <div class="message_date">
                                        <p class="date text-info"></p>
                                        <p class="date text-info">{{item.created_at.time|time:"f"}}</p>
                                        <p class="month">{{item.created_at.month}}/{{item.created_at.day}}</p>
                                    </div>
                                    <div class="message_wrapper">
                                        <h4 class="heading">{{ item.sender.username }}</h4>
                                        <blockquote class="message">{{ item.content }}</blockquote>
                                        <br />
                                        <p class="url">
                                            <span class="fs1 text-info" aria-hidden="true"
                                                data-icon="fa fa-envelope"></span>
                                            <a href="{% url 'dashboard:course_detail' item.course.id %}"><i class="fa fa-paperclip"></i> {{ item.course.title}}
                                            </a>
                                        </p>
                                    </div>
                                </li>
                                {% endfor %}
                                

                            </ul>
                            <!-- end recent activity -->
                        </div>
                        <!-- profile tab -->
                        <div role="tabpanel" class="tab-pane fade" id="tab_content2"
                            aria-labelledby="profile-tab">
                            <p>xxFood truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin
                                coffee squid. Exercitation +1 labore velit, blog sartorial PBR leggings next
                                level wes anderson artisan four loko farm-to-table craft beer twee. Qui
                                photo booth letterpress, commodo enim craft beer mlkshk </p>
                        </div>
                        <!-- tab -->
                        <div role="tabpanel" class="tab-pane fade" id="tab_content2"
                            aria-labelledby="profile-tab2">
                            <p>xxFood truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin
                                coffee squid. Exercitation +1 labore velit, blog sartorial PBR leggings next
                                level wes anderson artisan four loko farm-to-table craft beer twee. Qui
                                photo booth letterpress, commodo enim craft beer mlkshk </p>
                        </div>
                    </div>

        </div>


{% endblock%}