{% extends 'dashboard/base.html' %}
{% load widget_tweaks %}

{% block title %}
{{ title }}
{% endblock %}


{% block content %}
<div class="row">
    
    <div class="">
        <div class="x_panel">
            <div class="x_title">
                <h2>{{ title }}</h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <ul class="dropdown-menu" role="menu">
                            <li>
                                <a href="#">Settings 1</a>
                            </li>
                            <li>
                                <a href="#">Settings 2</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <br>
                
                <form class="form-horizontal form-label-right input_mask" method="post">
                    {% csrf_token %}
                    
                
                
                      <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                        {{ user_form.first_name }}
                        <span class="fa fa-user form-control-feedback right" aria-hidden="true"></span>
                    </div> 
                     <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                        {{ user_form.username}}
                        <span class="fa fa-user form-control-feedback right" aria-hidden="true"></span>
                    </div> 
                     <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                        {{ user_form.last_name }}
                        <span class="fa fa-user form-control-feedback right" aria-hidden="true"></span>
                    </div> 
                    <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                        {{ profile_form.phone }}
                        <span class="fa fa-phone form-control-feedback right" aria-hidden="true"></span>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                        {{ user_form.email }}
                        <span class="fa fa-envelope form-control-feedback right" aria-hidden="true"></span>
                    </div> 
                    
                    {% comment %} <div class="form-group text-right">
                        <div class="col-md-3 col-sm-3 col-xs-6">
                        <div class="select2-single">
                            {{ profile_form.degree }}    
                        </div>
                        </div>
                        <label class="control-label col-md-3 col-sm-2 col-xs-4 text-right">:مدرک تحصیلی</label>
                    </div>
                    <div class="form-group">
                        <div class="col-md-9 col-sm-9 col-xs-12">
                            {{ profile_form.address}}
                        </div>
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">آدرس</label>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">عکس کاربر</label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                            {{ profile_form.image }}
                        <span class="danger">{{ profile_form.image.errors }}</span>
                        </div>
                    </div>
                     {% endcomment %}
                    <div class="ln_solid"></div>
                    <div class="form-group">
                        <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
                            <button type="submit" class="btn btn-success">تغییر اطلاعات</button>
                        </div>
                    </div>
                </form>
                <div>
            </div>
        

    </div>
 
</div>
{% endblock %}
