{% load static %}
<!-- jQuery -->
<script src="{% static 'dashboard/vendors/jquery/dist/jquery.min.js' %}"></script>
<!-- Bootstrap -->
<script src="{% static 'dashboard/vendors/bootstrap/dist/js/bootstrap.min.js' %}"></script>
<!-- FastClick -->
<script src="{% static 'dashboard/vendors/fastclick/lib/fastclick.js' %}"></script>
<!-- NProgress -->
<script src="{% static 'dashboard/vendors/nprogress/nprogress.js' %}"></script>
<!-- FullCalendar -->
<script src="{% static 'dashboard/vendors/moment/min/moment.min.js' %}"></script>
<!-- Custom Theme Scripts -->
<script src="{% static 'dashboard/build/js/custom.min.js' %}"></script>
<!-- bootstrap-progressbar -->
<script src="{% static 'dashboard/vendors/bootstrap-progressbar/bootstrap-progressbar.min.js' %}"></script>
<!-- morris -->
<script src="{% static 'dashboard/vendors/raphael/raphael.min.js' %}"></script>
<script src="{% static 'dashboard/vendors/morris.js/morris.min.js' %}"></script>
<!-- bootstrap-daterangepicker -->
<script src="{% static 'dashboard/vendors/bootstrap-daterangepicker/daterangepicker.js' %}"></script>

