{% load static %}
<div class="col-md-3 left_col">
  <div class="left_col scroll-view">
    <div class="navbar nav_title" style="border: 0;">
      <a href="index.html" class="site_title"><i class="fa fa-paw"></i> <span>Rasor</span></a>
    </div>

    <div class="clearfix"></div>

    <!-- menu profile quick info -->
    <div class="profile clearfix">
      <div class="profile_pic">
        <img src="{{ request.user.picture.url }}" alt="user profile image" class="img-circle profile_img">
      </div>
      <div class="profile_info">
        <h2>{{ request.user.first_name }} {{ request.user.last_name }}</h2>
        
      </div>
    </div>
    <!-- /menu profile quick info -->

    <br />

    <!-- sidebar menu -->
    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
      <div class="menu_section">
        <h3>داشبورد</h3>
        <ul class="nav side-menu">
          <li><a><i class="fa fa-home"></i> صفحه اصلی <span class="fa fa-chevron-down"></span></a>
            <ul class="nav child_menu">
              <li><a href="{% url 'dashboard:dashboard' %}"> داشبورد </a></li>
              <li><a href="{% url 'dashboard:profile' %}"> پروفایل </a></li>
              <li><a href="{% url 'home:home' %}"> صفحه اصلی </a></li>
              {% if request.user.is_staff %}
              <li><a href="{% url 'dashboard:dashboard' %}"> پنل ادمین </a></li>
              {% endif %}
            </ul>
          </li>
          <li><a><i class="fa fa-edit"></i> اطلاعت کاربر <span class="fa fa-chevron-down"></span></a>
            <ul class="nav child_menu">
              <li><a href="{% url 'dashboard:update_profile' %}">ویرایش اطلاعات</a></li>
              <li><a href="{% url 'password_reset' %}">تغییر رمز عبور</a></li>
            </ul>
          </li>
          <li><a><i class="fa fa-mortar-board"></i> درس ها و دوره ها <span class="fa fa-chevron-down"></span></a>
            <ul class="nav child_menu">
              <li><a href="{% url 'dashboard:course_list' %}">دوره های من</a></li>
              <li><a href="{% url 'dashboard:create_course' %}">ایجاد دوره جدید</a></li>
            </ul>
          </li>
          <li><a><i class="fa fa-archive"></i> محصولات <span class="fa fa-chevron-down"></span></a>
            <ul class="nav child_menu">
              <li><a href="#"> لیست محصولات </a></li>
            </ul>
          </li>
          <li><a><i class="fa fa-desktop"></i> وبلاگ <span class="fa fa-chevron-down"></span></a>
            <ul class="nav child_menu">
              <li><a href="#"> مقالات </a></li>
              <li><a href="#"> اخبار </a></li>
            </ul>
          </li>
          <li><a><i class="fa fa-inbox"></i> سبد خرید <span class="fa fa-chevron-down"></span></a>
            <ul class="nav child_menu">
              <li><a href="{% url 'product:cart_detail' %}">مشاهده سبد خرید</a></li>
              {% comment %} <li><a href="{% %}">جزییات محصولات</a></li> {% endcomment %}
            </ul>
          </li>
        </ul>
      </div>
      <div class="menu_section">
        {% comment %} <h3></h3> {% endcomment %}
        <ul class="nav side-menu">
          <li><a><i class="fa fa-users"></i> درباره ما <span class="fa fa-chevron-down"></span></a>
            <ul class="nav child_menu">
              <li><a href="#"> درباره ما </a></li>
              <li><a href="{% url 'dashboard:contact_us' %}"> تماس با ما </a></li>
            </ul>
          </li>
          
          
          
        </ul>
      </div>

    </div>
    <!-- /sidebar menu -->

    <!-- /menu footer buttons -->
    <div class="sidebar-footer hidden-small">
      <a data-toggle="tooltip" data-placement="top" title="تنظیمات">
        <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
      </a>
      <a data-toggle="tooltip" data-placement="top" title="پیام ها">
        <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
      </a>
      <a data-toggle="tooltip" data-placement="top" title="بازگشت به صفحه اصلی">
        <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
      </a>
      <a data-toggle="tooltip" data-placement="top" title="خروج" href="{% url 'logout' %}">
        <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
      </a>
    </div>
    <!-- /menu footer buttons -->
  </div>
</div>
